<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642738705273-fh54rlmc708nhe6njouftplg23166ffi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642738705273-fh54rlmc708nhe6njouftplg23166ffi</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYlFYrjC1fTlx2d5c6b96HN6dlCixs0g</string>
	<key>GCM_SENDER_ID</key>
	<string>642738705273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unison.lcchub</string>
	<key>PROJECT_ID</key>
	<string>lcc-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>lcc-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642738705273:ios:f4da271eea8e1ccb4e15a8</string>
	<key>DATABASE_URL</key>
	<string>https://lcc-hub-default-rtdb.firebaseio.com</string>
</dict>
</plist>